binds {

    // Launch Programs
    // Mod+Space hotkey-overlay-title="Application Launcher: Fuzzel" { spawn "fuzzel"; }
    Mod+Space hotkey-overlay-title="Application Launcher: Vicinae" { spawn "vicinae" "toggle"; }
    Mod+Return hotkey-overlay-title="Terminal: Wezterm" { spawn "wezterm"; }
    Mod+E hotkey-overlay-title="File Explorer: Nautilus" { spawn "nautilus" "--new-window"; }
    Mod+B hotkey-overlay-title="Browser: Brave" { spawn "brave"; }
    Mod+Ctrl+G hotkey-overlay-title="Wayscriber" { spawn-sh "wayscriber --daemon-toggle"; }
    Mod+1 hotkey-overlay-title="Gmail" { spawn "/opt/brave-bin/brave" "--profile-directory=Default" "--app-id=fmgjjmmmlfnkbppncabfkddbjimcfncm"; }
    Mod+2 hotkey-overlay-title="Whatsapp" { spawn "/opt/brave-bin/brave" "--profile-directory=Default" "--app-id=hnpfjngllnobngcgfapefoaidbinmjnm"; }
    Mod+3 hotkey-overlay-title="Youtube" { spawn "/opt/brave-bin/brave" "--profile-directory=Default" "--app-id=agimnkijcaahngcdmfeangaknmldooml"; }
    Mod+4 hotkey-overlay-title="YT Music" { spawn "/opt/brave-bin/brave" "--profile-directory=Default" "--app-id=cinhimbnkkaeohfgghhklpknlkffjgod"; }
    Mod+5 hotkey-overlay-title="Claude" { spawn "claude-desktop"; }
    Mod+6 hotkey-overlay-title="OpenCode" { spawn "opencode-desktop"; }
    Mod+7 hotkey-overlay-title="Browser: Chrome" { spawn "google-chrome-stable"; }
    Mod+8 hotkey-overlay-title="Neovim" { spawn "wezterm" "start" "--" "nvim"; }
    Mod+9 hotkey-overlay-title="Obsidian" { spawn "obsidian"; }
    Mod+0 hotkey-overlay-title="Motrix" { spawn "motrix"; }
 
    // Vicinae Actions
    Mod+Ctrl+V { spawn-sh "vicinae vicinae://launch/clipboard/history"; }
    Mod+Ctrl+E { spawn-sh "vicinae vicinae://launch/core/search-emojis"; }

    // Noctalia Actions
    Mod+Comma { spawn-sh "noctalia msg settings-toggle"; }
    Mod+S { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Ctrl+B { spawn-sh "noctalia msg bar-show"; }
    Mod+Ctrl+Alt+C { spawn-sh "noctalia msg config-reload"; }
    Mod+Ctrl+Delete { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+Ctrl+N { spawn-sh "noctalia msg panel-toggle control-center notifications"; }
    Mod+Ctrl+U { spawn-sh "noctalia msg panel-toggle noctalia/notes:panel"; }

    Mod+Ctrl+Z { spawn-sh "noctalia msg plugin alexander/screen-toolkit:service all toggle"; }
    Mod+Ctrl+C { spawn-sh "noctalia msg plugin alexander/screen-toolkit:service all colorPicker"; }
    Mod+Ctrl+T { spawn-sh "noctalia msg plugin alexander/screen-toolkit:service all ocr"; }
    Mod+Ctrl+Q { spawn-sh "noctalia msg plugin alexander/screen-toolkit:service all qr"; }
    Mod+Ctrl+M { spawn-sh "noctalia msg plugin alexander/screen-toolkit:service all measure"; }
    Mod+Ctrl+Y { spawn-sh "noctalia msg plugin alexander/screen-toolkit:service all lens"; }
    Mod+Ctrl+X { spawn-sh "noctalia msg plugin alexander/screen-toolkit:service all annotate"; }

    // Screenshot
    Print { screenshot; }
    Alt+Print { screenshot-screen; }
    Ctrl+Print { screenshot-window; }
    Ctrl+Alt+Print { spawn-sh "noctalia msg screenshot-fullscreen all"; }

    // Niri Actions
    Mod+Ctrl+Alt+Delete { quit; }
    Mod+Ctrl+Alt+P { power-off-monitors; }
    Mod+Ctrl+Alt+Slash { show-hotkey-overlay; }

    Mod+Shift+Return { maximize-column; }
    Mod+Shift+Backspace { fullscreen-window; }
    Mod+Shift+M { maximize-window-to-edges; }
    Mod+Alt+Return { expand-column-to-available-width; }
    Mod+Shift+Space { set-column-width "50%"; }

    Mod+D { toggle-overview; }
    Mod+F { toggle-window-floating; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }

    Mod+Ctrl+Return { close-window; }
    Mod+Alt+Space { center-column; }
    // Mod+Alt+Space { center-visible-columns; }
    // Windows in this column will appear as vertical tabs, rather than stacked on top of each other.
    Mod+Ctrl+Space { toggle-column-tabbed-display; }

    // change focus between columns.
    Mod+H  { focus-column-left; }
    Mod+J  { focus-window-down; }
    Mod+K    { focus-window-up; }
    Mod+L { focus-column-right; }
    Mod+I { focus-column-first; }
    Mod+O  { focus-column-last; }

    // move columns around to change their position.
    Mod+Ctrl+H  { move-column-left; }
    Mod+Ctrl+J  { move-window-down; }
    Mod+Ctrl+K    { move-window-up; }
    Mod+Ctrl+L { move-column-right; }
    Mod+Ctrl+I { move-column-to-first; }
    Mod+Ctrl+O  { move-column-to-last; }

    // change focus between monitors.
    Mod+Alt+H  { focus-monitor-left; }
    Mod+Alt+J  { focus-monitor-down; }
    Mod+Alt+K    { focus-monitor-up; }
    Mod+Alt+L { focus-monitor-right; }

    // move column to another monitor.
    Mod+Alt+Ctrl+H  { move-column-to-monitor-left; }
    Mod+Alt+Ctrl+J  { move-column-to-monitor-down; }
    Mod+Alt+Ctrl+K    { move-column-to-monitor-up; }
    Mod+Alt+Ctrl+L { move-column-to-monitor-right; }
    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }

    // move whole workspace to another monitor.
    Mod+Shift+Alt+Ctrl+H  { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+Ctrl+J { move-workspace-to-monitor-down; }
    Mod+Shift+Alt+Ctrl+K  { move-workspace-to-monitor-up; }
    Mod+Shift+Alt+Ctrl+L { move-workspace-to-monitor-right; }

    // change focus between workspaces
    Mod+Alt+I { focus-workspace-down; }
    Mod+Alt+O { focus-workspace-up; }

    // move column between workspaces
    Mod+Alt+Ctrl+I { move-column-to-workspace-down; }
    Mod+Alt+Ctrl+O   { move-column-to-workspace-up; }
    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }

    // swap position of workspaces with each other
    Mod+Shift+Alt+Ctrl+I { move-workspace-down; }
    Mod+Shift+Alt+Ctrl+O { move-workspace-up; }

    // Cycling through the width/height presets
    Mod+Slash { switch-preset-column-width; }
    Mod+Shift+Slash { switch-preset-window-height; }

    // The following binds move the focused window in and out of a nearby column.
    // If the window is already in a column, they will expel it out.
    Mod+SemiColon  { consume-or-expel-window-left; }
    Mod+Apostrophe { consume-or-expel-window-right; }

    // Finer width/height adjustments.
    // Adjust width in either pixels or percentage.
    // Adjust width as a percentage of screen width: "-10%" or "+10%"
    Mod+Shift+H { set-column-width "-10%"; }
    Mod+Shift+L { set-column-width "+10%"; }
    Mod+Shift+J { set-window-height "-10%"; }
    Mod+Shift+K { set-window-height "+10%"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    Mod+Ctrl+P allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    Mod+Ctrl+Comma allow-when-locked=true { spawn-sh "playerctl previous"; }
    Mod+Ctrl+Period allow-when-locked=true { spawn-sh "playerctl next"; }

    // Example brightness key mappings for brightnessctl.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

}
