spawn-at-startup "qs" "-c" "noctalia-shell" 
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "kdeconnectd"
spawn-at-startup "kdeconnect-indicator"

spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
