 window-rule {
        geometry-corner-radius 12 // enable rounded corners for all windows.
        clip-to-geometry true // it will clip the app to follow the corner radius.
        tiled-state true
        draw-border-with-background false  // if enabled transparent window will show the solid color in bg instead of background
        open-maximized true // open all windows as maximized by default.
        }

// Open kruler as floating & no rounded corners.
window-rule{
    match app-id="kruler"
    open-floating true
        geometry-corner-radius 0
        clip-to-geometry false

}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// 
// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}
